
.charts {
    display: flex;
  
    align-items: center;
    justify-content: space-evenly;
    font-size: 5px;
  }
  

.line {
    height: 300px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
  }